{% extends "base.html" %}
{% load i18n admin_static %}
{% load static from staticfiles  %}
{% block main %}
<div class="landing clearfix">
    <div class="landing-inner-overlay clearfix">
        <div class="container">
            <div class="row {{ specific_class }}">
                <div class="margin-100"></div>
                <div class="col-md-8 col-md-offset-2 forms-padding">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="right" href="{% url "view_profile" profile_slug=request.user_profile.profile_slug %}"> <i class="fa fa-caret-left"></i> Back</a>  {{ title }}
                        </div>
                        <div class="panel-body panel-body-height">
                            <table id="doctable" class="table table-bordered table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>{% trans "Applied On" %}</th>
                                            <th>{% trans "Starting From" %}</th>
                                            <th>{% trans "Ending On " %}</th>
                                            <th>{% trans "No. Of Days" %}</th>
                                            <th>{% trans "Reason" %}</th>
                                            <th>{% trans "Approved" %}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for single_leave in list_of_all_applied_leaves %}
                                        <tr>
                                            <td>{{ single_leave.applied_on }}</td>
                                            <td>{{ single_leave.starting_from }}</td>
                                            <td>{{ single_leave.ending_on }}</td>
                                            <td>{{ single_leave.no_of_days }}</td>
                                            <td>{{ single_leave.reason }}</td>
                                            {% if single_leave.is_approved %}
                                                <td><div class="authoriser-switch authoriser-switchOn"></div></td>
                                            {% else %}
                                                <td><div class="authoriser-switch"></div></td>
                                            {% endif %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer_scripts %}
<script>
    $(document).ready(function(){
        $('.authoriser-switch').click(function(){
        $(this).toggleClass("authoriser-switchOn");
        });
    });
</script>
{% endblock %}