{% extends "base.html" %}
{% load i18n crispy_forms_tags staticfiles admin_static %}

{% block meta_title %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block main %}
<div class="container">
    {% include "includes/header.html" %}
    <section>
{#        <div class="simform center">#}
{#            <a href="{% url "edit_profile" profile_slug=request.user_profile.profile_slug %}" class="big-ole-button">#}
{#                Manage Profile#}
{#            </a>#}
{#            <a href="{% url "apply_for_leave" %}" class="big-ole-button">Apply For Leave</a>#}
{#        </div>#}
        <form id="theForm" action="" method="post" class="simform" enctype="multipart/form-data" autocomplete="off">
            {% csrf_token %}
            <div class="simform-inner">
                <ol class="questions">
                    {{ form.as_ul }}
                </ol><!-- /questions -->
                <button class="submit" type="submit">Update Personal Profile</button>
                <div class="controls">
                    <button class="next"></button>
                    <div class="progress"></div>
                    <span class="number">
                        <span class="number-current"></span>
                        <span class="number-total"></span>
                    </span>
                    <span class="error-message"></span>
                </div><!-- / controls -->
            </div><!-- /simform-inner -->
            <span class="final-message"></span>
        </form><!-- /simform -->
    </section>
</div><!-- /container -->
{% endblock %}

{% block footer_scripts %}
    <script src="{% static "cod/classie.js" %}"></script>
    <script src="{% static "cod/stepsForm.js" %}"></script>
    <script>
        var theForm = document.getElementById( 'theForm' );
        new stepsForm( theForm, {
            onSubmit : function( form ) {
                classie.addClass( theForm.querySelector( '.simform-inner' ), 'hide' );
                form.submit();
            }
        } );
    </script>
{% endblock %}

