.landing {
    width: 100%;
    height: 100vh;
    background: url("../images/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.landing-inner-overlay {
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0, 0.5);
}
.margin-100 {
    margin-top: 20%;
}
.alert-error {
    background: red;
}
.top-user-activity {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 1;
  z-index: 9999;
  cursor: pointer;
}