.landing {
    width: 100%;
    height: 100vh;
    background: url("../images/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.landing-inner-overlay {
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0, 0.5);
}
.margin-100 {
    margin-top: 20%;
}
.alert-error {
    background: red;
}
.top-user-activity {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 1;
  z-index: 9999;
  cursor: pointer;
}
.pannel-inner {
    padding: 30px 20px;
}
.icon-arrow-left:before {
    font: normal normal normal 18px/1 FontAwesome;
    content: "\f0a8";
}

.icon-arrow-right:before {
    font: normal normal normal 18px/1 FontAwesome;
    content: "\f0a9";
}
.switch {
    text-align: center;
}
.datepicker-days {
    padding: 10px;
}
.datepicker-days .day {
    padding: 5px 10px;
    cursor: pointer;
}
.datepicker-days .day:hover {
    background: #ddd;
}
.datepicker-days .day.active {
    background: #ddd;
    margin: 0;
}
.datepicker-days .day.new, .datepicker-days .day.old {
    color:#ccc;
}
.specific_class .margin-100 {
    margin-top: 11%;
}
.profile img {
    max-width: 100px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.forms-padding .panel-body {
    padding: 40px;
}
.panel-body-height {
    max-height: 550px;
    overflow-x: hidden;
}
.right {
    float: right;
}

.leave-form input[type="text"] {
    border: 0;
    border-bottom: 1px solid #ddd;
}
.leave-form input[type="text"]:focus {
    border: 0;
    border-bottom: 1px solid #000;
}