<!doctype html>
<html lang="en">
    {% load i18n admin_static %}
    {% load static from staticfiles  %}
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"><!-- Latest compiled and minified CSS -->
{#        <link rel="stylesheet" href="{% static "bootstrap/bootstrap.min.css" %}">#}
        <link rel="stylesheet" type="text/css" href="{% static "cod/normalize.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "cod/demo.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "cod/component.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "cod/bootstrap.min.css" %}" />
		<script src="{% static "cod/modernizr.custom.js" %}"></script>
		<script src="{% static "default/js/jquery.min.js" %}"></script>
        <!-- Latest compiled and minified JavaScript -->
{#        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>#}
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <title> {{ title }} </title>
        {% block css %}{% endblock %}

    </head>

    <body>

    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissable extend eh">
                {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                <i class="fa fa-close"></i>
            </button>
        </div>
    {% endfor %}
    {% endif %}


     {% block main %}{% endblock %}

     {% include "includes/footer.html" %}
    {% block footer_scripts %} {% endblock %}
    </body>
</html>
