{% extends "base.html" %}
{% load i18n crispy_forms_tags staticfiles admin_static %}

{% block meta_title %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block main %}
<div class="container">
			{% include "includes/header.html" %}
			<section>
				{% if request.user.is_authenticated %}

					<div class="simform center">
						<div class="clearfix row">
							<a href="{% url "view_profile" profile_slug=request.user_profile.profile_slug %}" class="big-ole-button">
								Manage Profile
							</a>
							<a href="{% url "apply_for_leave" %}" class="big-ole-button">Apply For Leave</a>

						{% if request.user_profile.can_approve %}
							<a href="{% url "list_of_all_unapproved_leave_requests" %}?status=open" class="big-ole-button">View open leave requests</a>
						{% endif %}
						</div>
					</div>
				{% else %}
					<form id="theForm" action="/" method="post" class="simform" autocomplete="off">
						{% csrf_token %}
						<div class="simform-inner">
							<ol class="questions">
								<li>
									<span><label for="id_username">Your Kisanhub Email</label></span>
									<input id="id_username" name="email" type="email" autocomplete="off" required/>
								</li>
								<li>
									<span><label for="id_password">Your Password</label></span>
									<input id="id_password" name="password" autocomplete="off" type="password" required/>
								</li>
							</ol><!-- /questions -->
							<button class="submit" type="submit">Send answers</button>
							<div class="controls">
								<button class="next"></button>
								<div class="progress"></div>
								<span class="number">
									<span class="number-current"></span>
									<span class="number-total"></span>
								</span>
								<span class="error-message"></span>
							</div><!-- / controls -->
						</div><!-- /simform-inner -->
						<span class="final-message"></span>
					</form><!-- /simform -->

				{% endif %}
			</section>
		</div><!-- /container -->
{% endblock %}

{% block footer_scripts %}
    {% if request.user.is_authenticated %}
		{% else %}
		<script src="{% static "cod/classie.js" %}"></script>
    	<script src="{% static "cod/stepsForm.js" %}"></script>
		<script>
			var theForm = document.getElementById( 'theForm' );
			new stepsForm( theForm, {
				onSubmit : function( form ) {
					classie.addClass( theForm.querySelector( '.simform-inner' ), 'hide' );
                    form.submit();
				}
			} );
		</script>
	{% endif %}

{% endblock %}

