{% extends "base.html" %}
{% load i18n crispy_forms_tags staticfiles admin_static %}

{% block meta_title %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block main %}
<div class="container">
			{% include "includes/header.html" %}
			<section>
				<div class="simform" style="padding: 1em 0 0 0 ">
						<div class="personal-profile-inside clearfix">
                            <div class="row clearfix">
                                <div class="width-30 center">
                                    <p class="clearfix">
                                        {% if request.user_profile.profile_picture %}
                                            <a href="#"><img src="{{ MEDIA_URL }}{{ request.user_profile.profile_picture }}" style="max-width: 100px;" alt=""/></a>
                                    {% endif %}
                                    </p>
                                </div>
                                <div class="width-70">
                                    <a href="#" style="float: right;font-size: 14px">Edit Profile</a>
                                    <span class="user-fullname">{{ request.user.first_name }} {{ request.user.last_name }}</span><br>
                                    <p>
                                        <a href="{{ request.user_profile.linkedin_url }}"><i class="fa fa-linkedin"></i></a>
                                        <a href="{{ request.user_profile.twitter_url }}"><i class="fa fa-twitter"></i></a>
                                    </p>
                                    <p class="user-bio">{{ request.user_profile.bio }}</p>
                                </div>
                            </div>
                        </div>
					</div>

			</section>
		</div><!-- /container -->
{% endblock %}
